{% extends "layout.html" %}
{% block title %}Map title = {{ this.title }}{% endblock %}
{% block extrahead %}
 <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"
   integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ=="
       crossorigin=""/>
 <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"
   integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log=="
	 crossorigin=""></script>
 <script type="text/javascript" src="{{ '/static/map.js'|url }}"></script>
{% endblock %}

{% block body %}
<h1>{{ this.name }}</h1>

<h2>This map file is {{this.mapfile}} </h2>

  {{ this.body }}

<div style="outline: 1px solid black; height: 200px" id="map"></div>

<script type="text/javascript">
  initmap();
</script>
{% endblock %}

