{% extends "layout.html" %}
{% block title %}The Maps{% endblock %}
{% block body %}
  <h1>Maps</h1>
  <div class="maps">
  {% for map in this.children %}
    <div class="map">
      <h2><a href="{{ map|url }}">{{ map.title }}</a></h2>
    </div>
  {% endfor %}
  </div>
{% endblock %}
